<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiterAlura</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/global.css">
    <script defer src="/js/literAlura.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <!-- Navbar content -->
    </nav>
</header>
<main class="container-principal">
    <h1>Lista de Livros Disponíveis</h1>

    <form id="filtro-form">
        <div class="form-group">
            <label for="genero">Gênero:</label>
            <select id="genero" class="form-control">
                <option value="">Selecionar Gênero</option>
                <option value="Drama">Drama</option>
                <option value="Aventura">Aventura</option>
                <option value="Ficção">Ficção</option>
                <option value="Outro">Outro</option>
            </select>
        </div>
        <div class="form-group">
            <label for="autor">Autor:</label>
            <input type="text" id="autor" class="form-control">
        </div>
        <div class="form-group">
            <label for="idioma">Idioma:</label>
            <select id="idioma" class="form-control">
                <option value="">Selecionar Idioma</option>
                <option value="Inglês">Inglês</option>
                <option value="Francês">Francês</option>
                <option value="Espanhol">Espanhol</option>
                <option value="Português">Português</option>
            </select>
        </div>
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    <div id="livrosContainer"></div>
</main>
<footer class="rodape">
    <!-- Footer content -->
</footer>
</body>
</html>
